{% extends 'base.html' %}

{% block content %}  
			<div class="hero-unit">
				<h1>MyLiftingLog</h1>
				<p>
					MyLiftingLog is a simple tool to help fellow weightlifters. Logging your workouts is simple and MyLiftingLog automatically creates statistics about your training.
					<a href="/myliftinglog/register/">Try it now!</a>
				</p>

			</div>

			<div class="row">
				<div class="span4">
					<h2>Easily log your workouts</h2>
					<p>
						<i class="icon-file"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed eleifend lorem. Etiam dapibus tellus facilisis libero tempor tristique. Cras interdum accumsan posuere. Proin iaculis, leo non dapibus euismod, eros sapien tempus lacus, at rhoncus tellus arcu sit amet lacus.
					</p>

				</div>
				<div class="span4">
					<h2>Statistics about your workouts</h2>
					<p>
						<i class="icon-align-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed eleifend lorem. Etiam dapibus tellus facilisis libero tempor tristique. Cras interdum accumsan posuere. Proin iaculis, leo non dapibus euismod, eros sapien tempus lacus, at rhoncus tellus arcu sit amet lacus.
					</p>

				</div>
				<div class="span4">
					<h2>Find fellow lifters</h2>
					<p>
						<i class="icon-user"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed eleifend lorem. Etiam dapibus tellus facilisis libero tempor tristique. Cras interdum accumsan posuere. Proin iaculis, leo non dapibus euismod, eros sapien tempus lacus, at rhoncus tellus arcu sit amet lacus.
					</p>

				</div>

			</div>
{% endblock %}
